#ligames{
 
    margin: 0 auto;
    text-align: center;
}

#ligames li{
    cursor: pointer;
    list-style: decimal-leading-zero;
    padding: 0px;
    margin: 0px;
    background: #ced2dc;
    width: 100%;
    padding: 26px 85px;
    margin-top: 5px;

}

.partiditos{
    color: #a1a7b5;
    font-size: 48px;
}

.tablecontent{
    padding-left: 200px;
}


.table th, .table td{
    border-bottom: 1px solid #353949 !important;
}