.neq{
	font-size: 55px;
	color: #fff;
	word-wrap: break-word;
}
.colpuntos{
	padding: 10px;
	text-align: center;
}

  .marca{
       font-size: 20vw;
        color: #f10c52;
      }
  .bu{
        display: none;
      }
.bestview{
	display: none;
}

#newtable th, #newtable td{
  border-bottom: 1px solid #353949 !important;
}

#newtable{
  color: #f10c52;
}

.tablecontent{
  height: 250px;
  overflow-y: scroll;
}